.root {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  position: relative;
  overflow: hidden;
}

.rect {
  background-color: #fff6e8;
  height: 67px;
  position: relative;
}

.flexRow {
  display: flex;
  position: relative;
}
@media (max-width: 1399px) {
  .flexRow {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 16px;
  }
}

.flexRow > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 135px;
}
@media (max-width: 1399px) {
  .flexRow > .item {
    flex: 0 0 50%;
  }
}

.flexCol {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin: 17px 0px 691px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  position: relative;
}

.flexRow1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 10px 9px;
}
@media (max-width: 991px) {
  .flexRow1 {
    margin: 10px 4px;
  }
}

.flexRow1 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.icon1 {
  width: 20px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 20px;
  margin: 3px 0px 2px;
}

.subtitle1 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #1f1f1f;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 58px;
  min-height: 25px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 1199px) {
  .subtitle1 {
    font-size: 16px;
    text-align: left;
    margin: 0px 0px 0px 4px;
  }
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  position: relative;
}

.flexRow1 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.image4 {
  width: 20px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 20px;
  margin: 7px 0px 2px;
}

.subtitle11 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #1f1f1f;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 60px;
  min-height: 25px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 1199px) {
  .subtitle11 {
    font-size: 16px;
    text-align: left;
    margin: 0px 0px 0px 4px;
  }
}

.flexRow1 > .item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.icon11 {
  width: 20px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 20px;
  margin: 2px 0px 3px;
}

.subtitle12 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #1f1f1f;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 82px;
  min-height: 25px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 1199px) {
  .subtitle12 {
    font-size: 16px;
    text-align: left;
    margin: 0px 0px 0px 4px;
  }
}

.flexRow1 > .item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.subtitle13 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #1f1f1f;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 68px;
  min-height: 25px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 1199px) {
  .subtitle13 {
    font-size: 16px;
    text-align: left;
    margin: 0px 0px 0px 4px;
  }
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  position: relative;
}

.flexRow1 > .item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 22px;
}

.image3 {
  width: 22px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 22px;
  margin: 4px 0px;
}

.subtitle14 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #1f1f1f;
  letter-spacing: 0px;
  position: relative;
  flex: 0 0 auto;
  min-width: 88px;
  min-height: 25px;
  margin: 0px 0px 0px 6px;
}
@media (max-width: 1199px) {
  .subtitle14 {
    font-size: 16px;
    text-align: left;
  }
}

.flexRow > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 1305px;
}
@media (max-width: 1399px) {
  .flexRow > .item1 {
    flex: 0 0 50%;
  }
}

.content_box3 {
  display: flex;
  flex-direction: column;
  background-color: #e9e3d7;
  position: relative;
  flex-grow: 1;
}

.content_box2 {
  display: flex;
  flex-direction: column;
  background-color: #fffefe;
  position: relative;
  flex-grow: 1;
  margin: 19px 15px 26px 35px;
}
@media (max-width: 1199px) {
  .content_box2 {
    margin: 19px 15px 26px 28px;
  }
}
@media (max-width: 991px) {
  .content_box2 {
    margin: 19px 8px 26px 24px;
  }
}
@media (max-width: 767px) {
  .content_box2 {
    margin: 19px 8px 26px 20px;
  }
}
@media (max-width: 575px) {
  .content_box2 {
    margin: 19px 8px 26px 16px;
  }
}
@media (max-width: 383px) {
  .content_box2 {
    margin: 19px 4px 26px 16px;
  }
}

.flexRow2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 20px 10px 21px 16px;
}
@media (max-width: 1399px) {
  .flexRow2 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 16px;
  }
}
@media (max-width: 1199px) {
  .flexRow2 {
    margin: 20px 10px 21px 12px;
  }
}
@media (max-width: 991px) {
  .flexRow2 {
    margin: 20px 4px 21px 12px;
  }
}
@media (max-width: 767px) {
  .flexRow2 {
    margin: 20px 4px 21px 8px;
  }
}

.flexRow2 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 202px;
}
@media (max-width: 1399px) {
  .flexRow2 > .item {
    flex: 0 0 100%;
  }
}

.content_box1 {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  position: relative;
  flex-grow: 1;
}

.flexCol1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin: 33px 30px 582.51px 31px;
}
@media (max-width: 1199px) {
  .flexCol1 {
    margin: 33px 24px 582.51px;
  }
}
@media (max-width: 991px) {
  .flexCol1 {
    margin: 33px 20px 582.51px;
  }
}
@media (max-width: 767px) {
  .flexCol1 {
    margin: 33px 16px 582.51px;
  }
}
@media (max-width: 479px) {
  .flexCol1 {
    margin: 33px 12px 582.51px 16px;
  }
}
@media (max-width: 383px) {
  .flexCol1 {
    margin: 33px 12px 582.51px;
  }
}

.flexCol1 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  display: flex;
  flex-direction: column;
  background-color: rgba(124, 124, 124, 0.501);
  border-radius: 27px 27px 27px 27px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  position: relative;
  min-width: 0px;
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  min-width: 0px;
  margin: 15.5px 27.5px;
}
@media (max-width: 1199px) {
  .btn__text {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .btn__text {
    margin: 15.5px 20px;
  }
}
@media (max-width: 767px) {
  .btn__text {
    margin: 15.5px 16px;
  }
}
@media (max-width: 479px) {
  .btn__text {
    margin: 15.5px 12px;
  }
}

.btn1 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  position: relative;
  min-width: 0px;
  margin: 13px 0px 0px 2.7px;
}

.btn__text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  min-width: 0px;
  margin: 11px 29px;
}
@media (max-width: 1199px) {
  .btn__text1 {
    font-size: 16px;
    text-align: center;
    margin: 11px 24px;
  }
}
@media (max-width: 991px) {
  .btn__text1 {
    margin: 11px 20px;
  }
}
@media (max-width: 767px) {
  .btn__text1 {
    margin: 11px 16px;
  }
}
@media (max-width: 479px) {
  .btn__text1 {
    margin: 11px 12px;
  }
}

.btn2 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  cursor: pointer;
  position: relative;
  margin: 13px 3.3px 0px 2.7px;
}
.btn__text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 50px;
  position: relative;
  flex-grow: 1;
  min-width: 50px;
  margin: 11px auto;
}
@media (max-width: 1199px) {
  .btn__text2 {
    font-size: 16px;
    text-align: center;
  }
}

.btn3 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  position: relative;
  min-width: 0px;
  margin: 16.49px 0px 0px 2.7px;
}

.flexRow2 > .spacer {
  flex: 0 1 12px;
}
@media (max-width: 1399px) {
  .flexRow2 > .spacer {
    display: none;
  }
}

.flexRow2 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 1015px;
}
@media (max-width: 1399px) {
  .flexRow2 > .item1 {
    flex: 0 0 100%;
  }
}

.flexCol2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin: 7px 0px 24px;
}

.flexRow3 {
  display: flex;
  position: relative;
  margin: 0px 20px;
}
@media (max-width: 1199px) {
  .flexRow3 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 16px;
    margin: 0px 16px;
  }
}
@media (max-width: 991px) {
  .flexRow3 {
    margin: 0px 12px;
  }
}
@media (max-width: 575px) {
  .flexRow3 {
    margin: 0px 8px;
  }
}

.flexRow3 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 743px;
}
@media (max-width: 1199px) {
  .flexRow3 > .item {
    flex: 0 0 100%;
  }
}

.content_box {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 30px 30px 30px 30px;
  position: relative;
  flex-grow: 1;
}

.subtitle {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: 62.31%;
  opacity: 0.6;
  position: relative;
  flex-grow: 1;
  min-height: 26px;
  margin: 18px 31.76% 17px 5.92%;
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 16px;
    text-align: left;
  }
}

.flexRow3 > .spacer {
  flex: 0 1 17px;
}
@media (max-width: 1199px) {
  .flexRow3 > .spacer {
    display: none;
  }
}

.flexRow3 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 95px;
}
@media (max-width: 1199px) {
  .flexRow3 > .item1 {
    flex: 0 0 100%;
  }
}

.flexRow4 {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 23px 0px 14px;
}

.flexRow4 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 24px;
}

.icon {
  width: 24px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 24px;
}

.flexRow4 > .spacer {
  flex: 0 1 17px;
}

.flexRow4 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 16px;
}

.image2 {
  width: 16px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 16px;
  margin: 3px 0px 1px;
}

.flexRow4 > .spacer1 {
  flex: 0 1 20px;
}

.flexRow4 > .item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 18px;
}

.image1 {
  width: 18px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 18px;
  margin: 2px 0px;
}

.flexCol3 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px 0px 0px;
}

.flexRow > .item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 909px;
}
@media (max-width: 1399px) {
  .flexRow > .item2 {
    flex: 0 0 100%;
  }
}

.flexRow5 {
  display: flex;
  position: relative;
  flex-grow: 1;
}
@media (max-width: 1399px) {
  .flexRow5 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    -moz-column-gap: 0px;
    column-gap: 0px;
    row-gap: 16px;
  }
}

.flexRow5 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 20px;
}
@media (max-width: 1399px) {
  .flexRow5 > .item {
    flex: 0 0 100%;
  }
}

.icon12 {
  width: 20px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: relative;
  min-width: 20px;
  margin: 10px 0px;
}

.flexRow5 > .spacer {
  flex: 0 1 9px;
}
@media (max-width: 1399px) {
  .flexRow5 > .spacer {
    display: none;
  }
}

.flexRow5 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 880px;
}
@media (max-width: 1399px) {
  .flexRow5 > .item1 {
    flex: 0 0 100%;
  }
}

.subtitle2 {
  font: 700 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
  min-height: 40px;
}
@media (max-width: 1199px) {
  .subtitle2 {
    font-size: 16px;
    text-align: left;
  }
}

.subtitle2_span0 {
  font: 700 1em/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  font-style: normal;
  letter-spacing: 0px;
}

.subtitle2_span1 {
  font: 1em/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  font-style: normal;
  letter-spacing: 0px;
}

.flexRow > .spacer {
  flex: 0 1 27px;
}
@media (max-width: 1399px) {
  .flexRow > .spacer {
    display: none;
  }
}

.flexRow > .item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
  min-width: 79px;
}
@media (max-width: 1399px) {
  .flexRow > .item3 {
    flex: 0 0 100%;
    min-width: unset;
  }
}

.subtitle3 {
  display: flex;
  align-items: center;
  font: 400 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
  min-height: 23px;
  margin: 9px 0px 8px;
}
@media (max-width: 1199px) {
  .subtitle3 {
    font-size: 16px;
    text-align: left;
  }
}

.flexCol3 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}