body {
    background-color: #FFF6E8;
    font-family: Roboto;
    overflow: hidden;
    
  }
  .logo {
    
    margin-bottom: 0%;
    margin-left: 0%;
    
  }
  
  .text-bg-dark {
    background-color: #FFF6E8;
  }
  .logn {
    background-color: primary;
    border: none;
    color: white;
    border-radius: 50px;
  }
  .abt {
    color: black;
  }
  .p-3 {
    padding-top: 0%!important;
    padding-bottom: 0%!important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, 
  .container-xxl {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-right: auto;
margin-left: auto;
  }
  .clndr {
    width: 50%;
    margin-left: 30%;
  }
  .lstbtn {
    padding-top: 10%;
    padding-right: 15%;
  }
  .sup {
    
    border: none;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
  }
  .modal-header {
    display: block;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
  }
  .closebtn {
    position: absolute;
    left: 450px;
    top: 20px;
  }
  .mdlbg {
   background-color: #FFE3CA;
  
  }
  .text-center {
    text-align: center!important;
  }
  .checkbx {
    position: relative;
    left: -30%;
    margin: 5%;
  }
  .checkbx1 {
    position: relative;
    left: -60px;
    margin: 5%;
    
  }
  .form-check-input {
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
  }
  .form-check-label {
   position: relative;
   top: 5px;
   left: 10px;
   font-size: 20px;
   color: black;
  
    
  }
  .lgnmdl {
    background-color: #542C0C;
    color: white;
  }
  @media (max-width: 765px) {
  .ppl {
    display: none;
  }   
  .ydhac {
    margin-right: 2%;
  }
}
  @media (max-width: 805px) {
  body {
    overflow: auto;
  }
}
  
.button1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button1:hover {background-color: #3e8e41}

.button1:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}